/*Tablet*/
@media screen and (min-width: 768px) {
  /*Header*/
  .mobile-button {
    display: none;
  }

  .header-container {
    padding: 0 16px;
    width: 768px;
  }
  .nav-menu,
  .logo,
  .address {
    display: flex;
  }
  .nav-menu,
  .logo {
    margin-right: 120px;
  }
  .address-menu {
    display: flex;
    gap: 12px;
    flex-direction: column;
  }
  .address-point {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.04em;
  }

  /*Studio*/
  .section-studio {
    max-width: 1440px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg_tab.jpg);
  }
  .main-container {
    min-width: 768px;
    max-width: 1158px;
  }
  .studio-container {
    padding: 112px 0;
    width: 768px;
  }
  .heero-first {
    text-align: center;
    margin: 0 40px 36px;
    max-width: 496px;
    height: 120px;
    color: #fff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
  }

  /*Job*/
  .container-job {
    width: 768px;
  }
  .job-menu {
    flex-direction: row;
    gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .job-list {
    width: calc((100% - 24px) / 2);
  }
  /*Our Team*/
  .section-contacts {
    padding: 0;
  }
  .contact-container {
    padding: 96px 108px;
    width: 768px;
  }
  .team-cards-menu {
    row-gap: 64px;
    flex-direction: row;
    justify-content: center;
  }
  .team-card:last-child {
    margin-bottom: 72px;
  }
  .team-card {
    margin-bottom: 72px;
    width: 264px;
    flex-basis: calc((100% - 24px) / 2);
    margin-bottom: 0;
  }
  .team-card-text {
    max-width: 264px;
  }
  .social-media-menu {
    max-width: 264px;
  }

  /*Portfolio*/
  .section-portfolio {
    padding: 0;
  }
  .portfolio-container {
    padding: 96px 16px 96px;
    width: 768px;
  }
  .porfolio-card {
    width: 356px;
    height: 420px;
  }
  .portfolio-img {
    width: 356px;
    height: 300px;
  }

  .portfolio-menu {
    row-gap: 72px;
    flex-direction: row;
    justify-content: center;
  }
  .portfolio-menu .porfolio-card {
    width: 356px;
    flex-basis: calc((100% - 24px) / 2);
  }

  /*Footer*/

  .footer-wrapper {
    padding-top: 97.5px;
    padding-left: 108px;
    padding-bottom: 96px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px 24px;
    align-items: baseline;
    justify-content: flex-start;
  }
  .footer-container-logo,
  .footer-container {
    align-items: flex-start;
    margin-bottom: 0;
  }
  .footer-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .form-footer-wrapper {
    align-items: baseline;
  }
  .form-footer {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  /*Modal*/
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }
  .input-module {
    width: 360px;
  }
}

/*Desctop*/
@media screen and (min-width: 1158px) {
  /*Header*/

  .header-container {
    width: 1158px;
    padding-bottom: 0;
    padding-top: 0;
  }
  .address-point {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .address-menu {
    gap: 40px;
  }

  /*Studio*/
  .section-studio {
    max-width: 1440px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }

  .main-container {
    max-width: 1440px;
  }
  .studio-container {
    padding: 188px 0;
    width: 1158px;
  }
  .heero-first {
    text-align: center;
    margin: 0 40px 48px;
    max-width: 496px;
    height: 120px;
    color: #fff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
  }

  /*Job*/
  .container-job {
    padding: 120px 15px;
    display: block;
    width: 1158px;
  }
  .job-menu {
    flex-direction: row;
    gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
  }
  .job-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 264px;
    display: inline-block;
    flex-basis: calc((100% - 72px) / 4);
  }
  .job-list-icon {
    display: flex;
  }
  .heero-third {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
  }
  .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /*Our Team*/

  .section-contacts {
    width: 1158px;
    display: block;
    padding: 0;
    background: #f4f4fd;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .team-cards-menu {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .team-card {
    margin-bottom: 72px;
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: calc((100% - 72px) / 4);
    padding: 0px;
    width: 264px;
    justify-content: center;
    align-items: center;
  }
  .contact-container {
    width: 1158px;
    padding: 120px 15px;
  }

  /*Portfolio*/
  .portfolio-container {
    padding: 120px 15px;
    width: 1158px;
    margin: 0;
  }
  .porfolio-card {
    width: 360px;
    height: 420px;
  }
  .portfolio-img {
    width: 360px;
    height: 300px;
  }
  .portfolio-menu {
    row-gap: 48px;
    flex-direction: row;
    justify-content: center;
  }
  .portfolio-menu .porfolio-card {
    width: 360px;
    flex-basis: calc((100% - 48px) / 3);
  }

  /*Footer*/

  .footer-container-logo {
    display: flex;
    max-width: 264px;
    margin-right: 120px;
    margin-bottom: 0;
    flex-direction: column;
  }
  .footer-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
    margin-right: 80px;
    flex-direction: column;
    max-width: 208px;
  }
  .footer-wrapper {
    width: 1158px;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    gap: 0;
  }
  .footer {
    display: flex;
    padding: 100px 16px;
  }
}
