body {
  color: #434455;
  font-family: Roboto, sans-serif;
  background-color: #fff;
  min-height: 100vh;
}
a {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
main {
  flex-grow: 1;
  background-color: #fff;
}
.section {
  display: flex;
  padding: 120px 0;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.main-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}
.contact-container {
  padding: 96px 28px 96px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}

.page-container {
  display: flex;
  flex-direction: column;
}
.center {
  text-align: center;
}

.header-link {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.heero-first {
  text-align: center;
  margin: 0 40px 72px;
  max-width: 288px;
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.heero-third {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.heero-second {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}
.container-job {
  padding: 96px 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 320px;
}
.job-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
.job-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 288px;

  /*width: calc((100% - 72px) / 4);*/
}
.job-list-icon {
  display: none;
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
}
.icon-job {
  width: 64px;
  height: 64px;
  position: relative;
}
.social-media-menu {
  margin: 8px auto 0;
  display: inline-flex;
  max-width: 264px;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.social-media {
  margin: 12px;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  fill: #f4f4fd;
}
.social-media-item {
  display: inline-block;
  width: calc((100% - 72px) / 4);
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  background-color: var(--IRIS, #4d5ae5);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc((100% - 72px) / 4);
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-box:hover,
.social-media-box:focus {
  background-color: #404bbf;
  transform: scale(1.5);
}
.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team-cards-menu {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 24px;
}

.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-studio {
  display: inline-block;
  color: #2e2f42;
}
.nav-link {
  position: relative;
  display: inline-block;
  margin-right: auto;
  padding: 24px 0;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.curent {
  color: #404bbf;
}
.curent::after {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
}
.nav-menu {
  display: flex;
  gap: 40px;
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: #404bbf;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-left: auto;
}
.address-menu {
  display: flex;
  gap: 40px;
}
.address-point {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-point:focus,
.address-point:hover {
  color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.studio-container {
  padding: 72px 16px 72px;
  width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-studio {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.section-job {
  align-items: center;
  margin: 0 auto;
  height: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  padding: 0;
  background: #fff;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-contacts {
  align-items: center;
  margin: 0 auto;
  height: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  padding: 0;
  background: #f4f4fd;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-portfolio {
  align-items: center;
  margin: 0 auto;
  height: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  padding: 0;
  background: #fff;
}

.portfolio-menu {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.porfolio-card-overlay {
  max-width: 360px;
  position: relative;
  overflow: hidden;
}
.porfolio-card-overlay:hover .overlay-text {
  transform: translateY(0%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--IRIS, #4d5ae5);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
  margin: 0 auto;
  color: var(--CLOUD, #f4f4fd);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-card {
  margin-bottom: 72px;
  display: flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-card-text {
  display: block;
  align-items: center;
  padding: 32px 0;
}
.porfolio-card {
  display: inline-block;
  width: 288px;
  height: 400px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.porfolio-card:hover {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-container {
  border-top: none;
  padding: 96px 16px 96px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.portfolio-card-text {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
  padding: 32px 16px;
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  border-top: none;
  background: var(--WHITE, #fff);
}
.button {
  display: block;
  margin: auto;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  align-items: flex-start;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-container-logo {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 72px;
}
.footer-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}
.footer-wrapper {
  padding: 97.5px 16px 96px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer {
  display: flex;
  /*padding: 100px 15px;*/
  align-items: center;
  background: #2e2f42;
  max-width: 1440px;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
}
.logo-footer {
  display: block;
  margin-bottom: 16px;
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-footer-white {
  display: inline-block;
  color: #f4f4fd;
  margin-right: auto;
}
.text-footer {
  display: block;
  width: 264px;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.text-footer-linc {
  font-weight: 500;
  display: block;
  margin-bottom: 16px;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.social-media-footer {
  margin: 8px;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  fill: #f4f4fd;
  gap: 16px;
}
.social-media-menu-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.social-mediabox-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc((100% - 72px) / 4);
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-mediabox-footer:hover,
.social-mediabox-footer:focus {
  background-color: #31d0aa;
  transform: scale(1.5);
}

/* Modal */

.backdrop {
  /*display: none;*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  right: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  background: var(--DAIRY, #fcfcfc);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  width: 288px;
  min-height: 623px;
  padding: 72px 16px 24px;
  overflow-y: auto;
}
.modal-close {
  position: absolute;
  padding: 0;
  cursor: pointer;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:focus {
  background-color: #404bbf;
  border: none;
}
.button-close:hover {
  background-color: #404bbf;
  border: none;
}
.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}
.button-close:focus .icon-close {
  fill: #ffffff;
}
.button-close:hover .icon-close {
  fill: #ffffff;
}

input,
textarea,
button {
  font-family: inherit;
  line-height: inherit;
}

.modal-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: none;
  max-width: 408px;
}
.input-module {
  width: 255px;
}
.input-box {
  margin-bottom: 8px;
}
.form-input {
  width: 100%;
  padding-left: 38px;
  outline: transparent;
  margin: 0;
  height: 40px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  outline: none;
  border-color: #4d5ae5;
}
.form-input:focus + .form-svg {
  fill: #4d5ae5;
}
.form-input-wrap {
  margin-bottom: 8px;
  position: relative;
}

.form-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input-textarea {
  height: 120px;
  padding: 8px 16px;
  width: 100%;
  flex-shrink: 0;
  border-radius: 4px;
  color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-box-textarea {
  margin-bottom: 16px;
}
.form-input-textarea:focus {
  outline: none;
  border-color: #4d5ae5;
}
.form-label {
  display: inline-block;
  margin-bottom: 4px;
  flex-direction: column;
  color: var(--LIGHT-SLATE, #8e8f99);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.privacy-field {
  margin-bottom: 24px;
}

.privacy-input:checked + .form-label .privacy-icon {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.privacy-icon {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.privacy-policy {
  display: inline-block;
  color: #4d5ae5;
  text-decoration-line: underline;
}

.footer-input {
  padding-left: 16px;
  font-size: 12px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #ffffff;
}
:placeholder {
  color: #fff;
  font-family: Roboto;
}
.button-footer {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 165px;
  height: 40px;
}
.footer-button-svg {
  margin-left: 16px;
  fill: white;
}
.form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.form-footer-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
